@model IEnumerable<ViewsLesson.Models.Team>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>Имя</td>
        <td>Основан:</td>
    </tr>
    @foreach (ViewsLesson.Models.Team team in Model)
    {
        <tr>
            <td>@team.Name</td>
            <td>@team.Founded.Year</td>
        </tr>
    }
</table>